body{
    background-color: #101922;
    color:rgb(255, 255, 255);
    text-align: center;
}
input{
    text-align: center;
    color: white;
    background-color:#283039;
    border-radius: 10px;
}

.bord{
    border-radius: 10px;
    width: max-content;
    background-color: #1c242c;
    margin: 0 auto 0 auto;
    margin-top: 20%;
}
select{
    background-color: #283039 ;
    color: white;
    height: 50px;
    border-radius: 10px;
}
#inpt{
    width: 200px;
    height: 50px;
}
#btn{
    width: 200px;
    height: 40px;
}
#timer{
    display: none;
}
/* Скрытие стрелок на всех полях ввода */
input[type=number] {
  -moz-appearance: none; /* Для Firefox */
  appearance: none;
}

/* Также можно добавить стандартный стиль для Webkit-браузеров */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}